h2 { color: #FFFFFF; font-weight: Normal; font-size: 100%; background-color: #0f77de; text-indent: 0.1cm; }
div.one { color: #000000; font-family: "Segoe UI"; font-size: 80%; background-color: #f1f1f1; }
table, th, td { border: 1px solid black; text-align:center; font-family:"Segoe UI";}
table { width: 100%; border-collapse:collapse; }
th { color: #FFFFFF; font-weight: Normal; font-size: 100%; background-color: #325C74; height:20px;}